:root {
    --primary: #303134;
    --secondary: #202124;
    --tertiary: #303134;
    --accent: #f88a8a;
    --text: #bdc1c6;
    --strap-color: rgb(189, 193, 198);
}

.idk {
    background-color: rgb(128, 62, 0);
    background-color: rgb(110, 81, 0);
    background-color: rgb(211, 179, 0);
    background-color: #ffe08a;
}

/* #info-section,
#info-buffer,
#info-slate {
    outline: dashed red 1px;
} */

/* #info-section{
    height: 80vh;
} */
.info-column-content>p{
    margin: .5rem
}

.column-wrapper{
    padding: 0;
}

#info-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pageWrapper {
    max-width: 100vh;
}


#info-buffer {
    margin: 2.5rem 0
}

#info-slate {
    position: relative;
    background-color: var(--primary);
    border: solid var(--text) 2px;
    border-radius: .333rem;
    box-shadow: -5px 5px 0px 3px var(--accent);
}

/* change this so it works for flex */
.info-column {
    margin: .5rem;
    padding: 0;
    border: solid var(--text) 2px;
    border-radius: .333rem;
    background-color: var(--secondary);
    height: max-content;
    /* margin: solid #ffe08a 2px; */
}

.courier-logo {
    margin-right: 1.75rem;
}

.write-share-go {
    display: flex;
    flex-direction: column;
}

.info-write,
.info-share,
.info-go {
    align-content: space-around;
}

.info-column-head {
    text-align: center;
    border-bottom: dashed var(--text) 1px;
    font-size: 1.75rem;
}

#top-column-text {
    text-align: center;
}

#info-vector {
    height: 1.75rem;
    width: 1.75rem;
}


.mid-banner {
    background-color: var(--secondary);
    height: 7.5rem;
    position: relative;
    /* background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25) 4px, transparent 4px, transparent 6px);
    background-size: 4px 4px;
    background-color: rgb(235, 235, 235); */
}

.mid-banner-buffer {
    /* text-align: center; */
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mid-banner-info {
    font-size: 2.5rem;
}

span>ul>li {
    list-style-type: disc;
    margin-left: 1rem;
}

#yet {
    text-align: end;
}



@keyframes popout {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.01)
    }
}



@media screen and (hover: hover) {
    .popout:hover {
        animation: popout .5s forwards
    }
}

@keyframes grayin {
    from {
        background-color: white;
    }

    to {
        background-color: lightgray;
    }
}